# Hosting Dev Tools
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=typescript
public-hoist-pattern[]=turbo
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*cypress*
public-hoist-pattern[]=*tauri*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*defichain*
public-hoist-pattern[]=*@waveshq*

engine-strict=true
auto-install-peers=true
